<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end" >
          <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark">
          List
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
