<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end" >
          <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark">
          Read Me
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button color="dark" [routerLink]="['/list']">Navigate</ion-button> -->
    <ion-list>
      <ion-item>
        <ion-icon slot="start" color="dark" name="arrow-dropright"></ion-icon>
        <ion-label class="ion-text-wrap">I have used ionic 4 framework just for the look and feel.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="dark" name="arrow-dropright"></ion-icon>
        <ion-label class="ion-text-wrap">I have used Angular 8 for the development.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="dark" name="arrow-dropright"></ion-icon>
        <ion-label class="ion-text-wrap">I have used the static JSON to display the data, same as the response which we get when we call web services. To call web services the general method can be written in providers. And also the common methods which are used again and again the application can be written in providers.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="dark" name="arrow-dropright"></ion-icon>
        <ion-label class="ion-text-wrap">
          Providers can also be used to share data between different components.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="dark" name="arrow-dropright"></ion-icon>
        <ion-label class="ion-text-wrap">
          This is just the static implementation. We can add the functionality like if any product is missed the user can add the product details and the total cost will be calculated accordingly.
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
